<!DOCTYPE html>
<html>
    <head>
        <title>Scrape de noticias</title>
    </head>
    <body>
        <h1>Últimas noticias</h1>
        <ul>
            {% for noticia in noticias %}
                <li class="noticia">
                    <img src="{{ noticia.imagen }}" alt="{{ noticia.titular }}">
                    <div>
                        <h2><a href="{{ noticia.enlace }}">{{ noticia.titular }}</a></h2>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>